# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/hot
/public/build
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Vite/Node
dist
build

# Docker
docker/mysql-data
*.pid

# System files
.DS_Store
Thumbs.db

# IDE/editor
.vscode
.idea
*.swp
